.containerBackground {
	background-image: url('../../../../static/hero.png');
	background-position: top right;
	background-size: 100%;
	background-repeat: no-repeat;
	height: 80vh;
	h2 {
		color: white;
	}
	h3 {
		color:white;
	}
	img {
		display: none;
	}
	hr { 
		display: block; 
		height: 1px;
		border: 0; 
		border-top: 2px solid #fff;
		padding: 0 0 30px; 
		width:	85%;
		margin: 0;
	}
	@media screen and (max-width: 750px) {
		img {
			display: block;			
		}
		h2 {
			color: black;
		}
		h3 {
			color:black;
		}
	}
}
@media screen and (max-width: 750px) {
	.containerBackground {
		background-image: none;
	}
}