.containerBackground {
	background-image: url('../../../../static/hero.png');
	background-position: top right;
	background-size: 100%;
	background-repeat: no-repeat;
	height: 65vh;
	h2 {
		color: white;
	}
	h3 {
		color:white;
	}
	img {
		display: none;
	}
	hr { 
		display: block; 
		height: 1px;
		border: 0; 
		border-top: 2px solid #fff;
		padding: 0 0 30px; 
		width:	85%;
		margin: 0;
	}
}

@media (min-width: 1025px) and (max-width: 1280px) {
	.containerBackground {
		height: 50vh;
	}
}

@media only screen and (min-width: 999px)
				   and (max-width: 1024px)
				   and (max-height: 768px)  
                   and (orientation: landscape) {
	.containerBackground {
		height: 50vh !important;
	}
}

@media only screen and (min-width: 800px)
				   and (max-width: 823px)  
                   and (orientation: landscape) {
	.containerBackground {
		height: 85vh !important;
		h2 {
			font-size: 1.9rem !important;
		}
		h3 {
			font-size: 1.3rem !important;
		}
	}
}

@media (min-width: 768px) and (max-width: 1024px) {
	.containerBackground {
		height: 30vh;
		h2 {
			font-size: 1.9rem !important;
		}
		h3 {
			font-size: 1.3rem !important;
		}
	}

}
@media screen and (max-width: 767px) {
	.containerBackground {
		background-image: none;
		background: linear-gradient(#023136 85%, white 15%) !important;
		color: white;
		height: auto;
		padding-bottom: 10px;
		padding-top: 10px;
		p {
			text-align: left !important;
		}
		img {
			display: block;	
			width: 80%;		
			margin: 0 auto;
			height: auto;
			border: solid 3px #0a444e;
		}
	}
	.clearDisplay {
		display: block !important;
	}
}