.popUpOverlay {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.9);
    transition: opacity 500ms;
    visibility: hidden;
    color: visible;
    opacity: 1;
    padding-top: 120px;
}

.popUpOverlaytarget {
    visibility: visible;
	opacity: 1;
	z-index: 999999999999;
}

.popUp {
    text-align: center;
    background-color: white;
    color: black;
    padding: 40px 20px;
    margin: 40px;
    margin-bottom: 0px !important;
    height: 100vh;
    overflow: scroll;
}

.popUp p {
    margin: 5% 10% 7% 10%;
}

.popUp a {
    position: absolute;
    color: white;
    text-decoration: none;
    font-size: 200%;
    top: 3.5%;
    right: 5%;
    border: solid 1px #fff;
    border-radius: 40px;
    padding: 3px 10px;
    opacity: 0.8;
    &:hover {
        opacity: 0.8;
        background-color: white;
    }
}